[alias]
  amend = ! git commit -m chunk-to-amend && git rebase -i origin/main
  update = rebase origin/main
  ci = commit -S
  clean-branches = ! git branch -vv | grep "gone]" | awk '{ print $1 }' | xargs git branch -D
  co = checkout
  current = rev-parse --abbrev-ref HEAD
  d = diff
  dc = diff --cached
  g = grep --break --heading --line-number
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit
  oops = commit -S --amend --no-edit
  p = push -u
  pf = push --force-with-lease
  s = status --branch --short
  root = rev-parse --show-toplevel

[color]
  diff = true
  ui = true

[diff]
  renames = copies
  tool = vimdiff3

[difftool]
  prompt = false

[difftool "vimdiff3"]
  path = nvim

[color "diff"]
  whitespace = red

[core]
  excludesfile = ~/.gitignore
  pager = less -F -X

[fetch]
  prune = true

[grep]
  extendRegexp = true
  lineNumber = true

[include]
  path = ~/.gitconfig.local

[init]
  defaultBranch = main

[merge]
	tool = vimdiff3

[mergetool "vimdiff3"]
	path = nvim

[pull]
	rebase = false

[push]
  default = current

[user]
  email = lonepeon@protonmail.com
  name = Lone Peon
  useconfigonly = true
