snippet code "Code block"
\`\`\`$1
$0
\`\`\`
endsnippet

snippet link "Link"
[${1:${VISUAL:Text}}](${2:https://www.host.com})$0
endsnippet

snippet img "Image"
![${1:${VISUAL:Text}}](${2:https://www.host.com})$0
endsnippet
